@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

  @font-face{
      font-family: 'jay';
      src: url(font/OLD.ttf);
  }
@media ( max-width: 1300px){
    *{
        padding: 0;
        margin: 0;
    }
    body{
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        box-sizing: border-box;
        background: #111;
        font-family: jay;
        padding: 10px;
        overflow-y: hidden;
        width: 100%;
        height: 90vh;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        background: #111;
        height: 90vh;
        border-radius: 5px;
        overflow-y: hidden;
    }
    header{
        display: block;
        overflow: hidden;
    }
    .header .navbar{
        width: 100%;
        height: 45px;
        background: #fff;
        z-index: 1000;
        margin-top: 10px;
    }
    .header .navbar img{
        position: absolute;
        top: 25px;
        width: 30%;
        height: 10%;
        padding-top: 15px;
    }
    header{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100vh;
        transition: 1s;
    }
    header .img_slide{ 
        
        width: 100%;
        height: 45vh;
        background-image: url(images/img_1.jpeg);
        background-position: center;
        border-radius: 3px;
        background-size: cover;
        background-repeat: no-repeat;
        transition: .0s;
        animation-name: animate;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: ease-in-out;  
      
    }
    @keyframes animate{
        0%{
            background-image: url(images/img_2.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
           
        }
        20%{
            background-image:url(images/img_1.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        40%{
            background: url(images/img_4.jpg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        60%{
            background:url(images/img_5.jpg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        80%{
            background:url(images/img_6.jpg);
            background-position: center;
            background-size: cover; 
            transition: .0s ease-in-out;
            
        }
        100%{
            background: url(images/img_2.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
        }
    }
    header .categories{
        position: absolute;
        top: 60%;
        width: 100%;
        height: 30vh;
        border-top: 1px solid #fff;
        
    }
    header .categories .triangle_left{
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
    header .categories .triangle_right{
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }
    .triangle{
        float: left;
        position: absolute;
    }
    .categories .items{
       
        top: 0px;
        width: 100%;
        height: 90%;
        /* background-color: #04b1fc; */
        padding-bottom: 10px;
    }
    .item{
        float: left;
    }
    .cate_items_one{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_one p{
        border-right: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        padding-top: 10px;
    }
    .cate_items_two{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_two p{
        border-right: 1px solid #fff;
        color: #fff;
        font-size: 12px;
        padding-top: 10px;
    }
    .cate_items_three{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_three p{
        color: #fff;
        font-size: 12px;
        padding-top: 10px;
    }
    .cate_items_one .item_image{
        width: 90%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    .cate_items_two .item_image{
        width: 90%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    .cate_items_three .item_image{
        width: 90%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
     .header_footer{
        width: 100%;
        height: 50px;
        background: #222;
        position: absolute;
        top: 96%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        display: flex;
        justify-content: center;
        align-items: center;
       
        display: none;
    }
    .header_footer p{
        padding-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loader{
        width: 100%;
        height: 100vh;
        display: none;
    }
    .loader_icon{
        width: 50px;
        height: 50px;
       border-top: 1px solid #fff;
        border-radius: 100%;
        animation: load 1s linear infinite;
        position: absolute;
        top: 45%;
        left: 44%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }
    @keyframes load{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .select{
        display: none;
    }
    .select .navbar{
        width: 100%;
        height: 50px;
        background: #111;
        border-bottom: 1px solid #fff;
        z-index: 1000;
    }
    .select .navbar img{
        position: absolute;
        top: 25px;
        width: 30%;
        height: 10%;
    }
    .select .navbar_below{
        width: 100%;
        height: 50px;
        background: #111;
    }
    .select .navbar_below .icon{
       
        color: #fff;
        float: left;
       
    }
    .select .navbar_below .icon_one{
        width: 37%;
        height: 60%;
        text-align: center; 
        margin-top: 5px; 
        /* padding-left: 35px; */
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-right: 1px solid #fff;
    }
    .select .navbar_below .icon_two{
        width: 37%;
        height: 60%;
        margin-top: 5px; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-right: 1px solid #fff;
        font-size: 20px;
    }
    .select .navbar_below .icon_three{
        width: 25%;
        height: 60%;
        margin-top: 5px; 
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 20px;
       
    }
    
     h3{
        padding-left: 30px;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1px;
        color: #fff;
    }
    
   .select .carousel_first{
       width: 98%;
       height: 33vh;
       /* background-color: #fff; */
       overflow: hidden;
       overflow-x: scroll;
       position: absolute;
       left: 50%;
       transform: translateX(-50%);
   }   
   .select .carousel_first .slider{
       width: 330%;
       /* background: red; */
       height: 100%;
       display: flex;
       justify-content: center;
       align-content: center;
       align-self: center;
   }
   .select .carousel_first .slider .slide{
      width: 50%;
      margin-left: 5px;
      margin-right: 5px;
      height: 100%;
      /* background-color: #fff; */
   }
   .select .carousel_first .slider .slide .img{
    width: 100%;
    height: 75%;
    background-color: #fff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-bottom: 5px;
   } 
   .select .carousel_second .triangle_left{
    width: 10px;
    height: 10px;
    background-color: #fff;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
    .select .carousel_second .triangle_right{
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }
    .triangle{
        float: left;
        position: absolute;
    } 
    .select .carousel_second{
        width: 98%;
        height: 40vh;
        overflow: hidden;
        border-top: 1px solid #fff;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    }  
    .select .carousel_second .caro_slide{
        
        width: 100%;
        height: 37vh;
        overflow: hidden;
        overflow-x: scroll;
        /* background-color: #fff; */
    }
    .select .carousel_second .slider{
        width: 330%;
        /* background: red; */
        position: relative;
        top: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center; 
    }
    .select .carousel_second .slider .slide{
       width: 50%;
       margin-left: 5px;
       margin-right: 5px;
       height: 100%;
       /* background-color: #fff; */
    }
    .select .carousel_second .slider .slide .img{
     width: 100%;
     height: 70%;
     background-color: #fff;
     border-top-left-radius: 40px;
     border-top-right-radius: 40px;
     margin-bottom: 5px;
    } 
    .select .carousel_first .content a{
        margin-top:5px;
        font-family: sans-serif;
        font-size: 23px;
        letter-spacing: 1px;
        color: #04b1fc;
    }
    .select .carousel_first .content p{
        color: pink;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .select .carousel_second .content a{
        margin-top:5px;
        font-family: sans-serif;
        font-size: 23px;
        letter-spacing: 1px;
        color: #04b1fc;
    }
    .select .carousel_second .content p{
        color: pink;
        font-family: sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .cont_details{
        width: 100%;
    }
    
}

