/* @import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap'); */
@font-face{
    font-family: 'jay';
    src: url(font/OLD.ttf);
}
    *{
        padding: 0;
        margin: 0;
    }
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #111;
        font-family: jay;
    }
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background: #111;
        height: 99vh;
        border-radius: 5px;
       
    }
    header{
        display: none;
        overflow: hidden;
    }
    header .navbar{
        width: 100%;
        height: 50px;
        background: #111;
        z-index: 1000;
    }
    header{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100vh;
        transition: 1s;
    }
    header .img_slide{ 
        width: 100%;
        height: 50vh;
        background-image: url(images/img_1.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: .0s;
        animation-name: animate;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-play-state: running;
        animation-timing-function: ease-in-out;  
      
    }
    @keyframes animate{
        0%{
            background-image: url(images/img_2.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
           
        }
        20%{
            background-image:url(images/img_1.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        40%{
            background: url(images/img_4.jpg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        60%{
            background:url(images/img_5.jpg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
            
        }
        80%{
            background:url(images/img_6.jpg);
            background-position: center;
            background-size: cover; 
            transition: .0s ease-in-out;
            
        }
        100%{
            background: url(images/img_2.jpeg);
            background-position: center;
            background-size: cover;
            transition: .0s ease-in-out;
        }
    }
    header .categories{
        position: absolute;
        top: 60%;
        width: 100%;
        height: 35vh;
        border-top: 1px solid #fff;
        
    }
    header .categories .triangle_left{
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
    }
    header .categories .triangle_right{
        width: 10px;
        height: 10px;
        background-color: #fff;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        position: relative;
        left: 100%;
        transform: translateX(-100%);
    }
    .triangle{
        float: left;
        position: absolute;
    }
    .categories .items{
        width: 100%;
        height: 90%;
    }
    .item{
        float: left;
    }
    .cate_items_one{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_one p{
        border-right: 1px solid #fff;
        color: #fff;
        font-size: 20px;
        padding-top: 5px;
    }
    .cate_items_two{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_two p{
        border-right: 1px solid #fff;
        color: #fff;
        font-size: 20px;
        padding-top: 5px;
    }
    .cate_items_three{
        position: relative;
        width: 32%;
        height: 100%;
        left: -3px;
        text-align: center;
    }
    .cate_items_three p{
        color: #fff;
        font-size: 20px;
        padding-top: 5px;
    }
    .cate_items_one .item_image{
        width: 80%;
        height: 70%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    .cate_items_two .item_image{
        width: 80%;
        height: 70%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    .cate_items_three .item_image{
        width: 80%;
        height: 70%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
     .header_footer{
        width: 100%;
        height: 50px;
        background: #222;
        position: absolute;
        top: 96.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header_footer p{
        display: flex;
        justify-content: center;
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }
    .loader{
        width: 100%;
        height: 100vh;
        display: block;
    }
    .loader_icon{
        width: 50px;
        height: 50px;
        border-top: 1px solid #fff;
        border-radius: 100%;
        animation: load 1s linear infinite;
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
    }
    @keyframes load{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
    }
    .select .navbar{
        width: 100%;
        height: 50px;
        background: #111;
        border-bottom: 1px solid #fff;
        z-index: 1000;
    }
